{% extends 'based/based.html' %}

{% block content %}
{% load static %}

<!-- begin::main content -->
<main class="main-content">

    <div class="container-fluid">

        <!-- begin::page header -->
        <div class="page-header d-md-flex justify-content-between align-items-center">
            <h4>Camera : </h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-t-0">
                    <li class="breadcrumb-item"><a href="#">{{title}}</a></li>
                </ol>
            </nav>
        </div>
        <!-- end::page headers -->

        <div class="row">
        
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Camera Video {{camera.camera_name}} </div>
                    <div class="card-body">
                        <iframe class="responsive-iframe" width="100%" height="400" src="//192.168.0.187:5080/WebRTCApp/play.html?name={{camera.camera_main}}" frameborder="0" allowfullscreen allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
          
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Actions</div>
                    <div class="card-body">
                    <form action='.' method='POST'>
                     {% csrf_token %}
                     <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Overlay</label>
                            {{form.camera_overlay}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Detection</label>
                            {{form.camera_detection}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Annotation</label>
                            {{form.camera_annotation}}
                        </div>
                     </div>
                    <div class="form-row">
                        <div class="col-md-8 mb-3">
                         <button type="submit" name="submit" class="btn btn-outline-success">Process</button>
                        </div>
                    </div>
                    </form>
                       
              
                    </div>
                </div>
            </div>
        
        </div>
             <div class="card chat-app-wrapper">
            <div class="row chat-app">
                <div class="col-lg-3 chat-sidebar">
                    <div class="chat-sidebar-search">
                        <form>
                            <input type="text" class="form-control" placeholder="Chat Search...">
                        </form>
                    </div>
                    <div class="chat-sidebar-messages">
                        <div class="list-group">
                            <a href="#" class="list-group-item align-items-center d-flex list-group-item-action">
                                <div>
                                    <figure class="avatar avatar-sm">
                                        <span class="avatar-title bg-success rounded-circle">E</span>
                                    </figure>
                                </div>
                                <div>
                                    <h6 class="m-0">User 3</h6>
                                    <p class="m-0 small">Lorem ipsum dolor sit amet.</p>
                                </div>
                                <span class="badge badge-primary badge-pill ml-auto">3</span>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action d-flex">
                                <div>
                                    <figure class="avatar avatar-sm">
                                        <span class="avatar-title bg-danger rounded-circle">E</span>
                                    </figure>
                                </div>
                                <div>
                                    <h6 class="m-0">User 2</h6>
                                </div>
                                <span class="badge badge-primary badge-pill ml-auto">1</span>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action d-flex active">
                                <div>
                                    <figure class="avatar avatar-sm">
                                        <img src="../assets/media/image/avatar.jpg" class="rounded-circle">
                                    </figure>
                                </div>
                                <div>
                                    <h6 class="m-0">User 4</h6>
                                    <p class="m-0 small">Lorem ipsum dolor sit amet.</p>
                                </div>
                                <span class="badge badge-primary badge-pill ml-auto">3</span>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action d-flex">
                                <div>
                                    <figure class="avatar avatar-sm">
                                        <span class="avatar-title bg-warning rounded-circle">E</span>
                                    </figure>
                                </div>
                                <div>
                                    <h6 class="m-0">User 5</h6>
                                    <p class="m-0 small">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action d-flex">
                                <div>
                                    <figure class="avatar avatar-sm">
                                        <span class="avatar-title bg-info rounded-circle">E</span>
                                    </figure>
                                </div>
                                <div>
                                    <h6 class="m-0">User 6</h6>
                                    <p class="m-0 small">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 chat-body">
                    <div class="chat-body-header">
                        <a href="#" class="btn btn-dark opacity-3 m-r-10 btn-chat-sidebar-open">
                            <i class="ti-menu"></i>
                        </a>
                        <div>
                            <figure class="avatar avatar-sm m-r-10">
                                <img src="../assets/media/image/avatar.jpg" class="rounded-circle">
                            </figure>
                        </div>
                        <div>
                            <h6 class="m-b-0 m-t-5">User 1</h6>
                            <i class="small text-success">He is writing . . .</i>
                        </div>
                        <div class="ml-auto d-flex">
                            <button type="button" class="ml-2 btn btn-sm btn-success btn-floating">
                                <i class="fa fa-video-camera"></i>
                            </button>
                            <div class="dropdown ml-2">
                                <button type="button" data-toggle="dropdown" class="btn btn-sm  btn-warning btn-floating">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-menu-body">
                                        <ul>
                                            <li>
                                                <a class="dropdown-item" href="#">Profile</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Block</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-body-messages">
                        <div class="message-items">
                            <div class="message-item message-item-media">
                                <ul>
                                    <a href="../assets/media/image/portfolio-four.jpg">
                                        <img src="../assets/media/image/portfolio-four.jpg" alt="image">
                                        <span>portfolio-four.jpg</span>
                                    </a>
                                    <a href="../assets/media/image/portfolio-two.jpg">
                                        <img src="../assets/media/image/portfolio-two.jpg" alt="image">
                                        <span>portfolio-two.jpg</span>
                                    </a>
                                </ul>
                                <small class="message-item-date text-muted">22.30</small>
                            </div>
                            <div class="message-item">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, eveniet, quidem. Ad beatae consequatur dolore dolores odio quia ratione vel.
                                <small class="message-item-date text-muted">22.30</small>
                            </div>
                            <div class="message-item message-item-media">
                                <div class="m-b-0 text-muted text-left">
                                    <a href="#" class="btn btn-light btn-outline-light text-left align-items-center justify-content-center m-r-10">
                                        <i class="fa fa-file-o font-size-25 m-r-15"></i>
                                        <div class="small">
                                            <div>example test.txt</div>
                                            <div>10 KB</div>
                                        </div>
                                    </a>
                                </div>
                                <small class="message-item-date text-muted">22.30</small>
                            </div>
                            <div class="message-item outgoing-message">
                                Lorem ipsum dolor sit amet.
                                <small class="message-item-date text-muted">22.30</small>
                            </div>
                            <div class="message-item outgoing-message message-item-media">
                                <ul>
                                    <a href="../assets/media/image/portfolio-four.jpg" class="media-error">
                                        <img src="../assets/media/image/portfolio-four.jpg" alt="image">
                                        <span>Lorem ipsum dolor sit amet.</span>
                                    </a>
                                    <a href="../assets/media/image/portfolio-six.jpg">
                                        <img src="../assets/media/image/portfolio-six.jpg" alt="image">
                                        <span>portfolio-six.jpg</span>
                                    </a>
                                    <a href="../assets/media/image/portfolio-three.jpg" class="media-error">
                                        <img src="../assets/media/image/portfolio-three.jpg" alt="image">
                                        <span>Lorem ipsum dolor sit amet.</span>
                                    </a>
                                    <a href="../assets/media/image/portfolio-one.jpg">
                                        <img src="../assets/media/image/portfolio-one.jpg" alt="image">
                                        <span>portfolio-one.jpg</span>
                                    </a>
                                </ul>
                                <small class="message-item-date text-muted">22.30</small>
                            </div>
                            <div class="message-item outgoing-message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, sunt.
                                <small class="message-item-date text-muted">22.30</small>
                            </div>
                            <div class="message-item">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, quasi!
                                <small class="message-item-date text-muted">22.30</small>
                            </div>
                            <div class="message-item">
                                Lorem ipsum.
                                <small class="message-item-date text-muted">22.30</small>
                            </div>
                            <div class="message-item message-item-date-border">
                                <span class="badge">Yesterday</span>
                            </div>
                            <div class="message-item message-item-error">
                                Lorem ipsum dolor sit amet, consectetur adipisicing.
                                <small class="message-item-date text-muted">22.30</small>
                            </div>
                            <div class="message-item outgoing-message message-item-error">
                                Lorem ipsum dolor sit.
                                <small class="message-item-date text-muted">22.30</small>
                            </div>
                            <div class="message-item outgoing-message message-item-media">
                                <div class="m-b-0 text-muted text-left media-file">
                                    <a href="#" class="btn btn-light btn-outline-light text-left align-items-center justify-content-center m-r-10 m-b-10 media-error">
                                        <i class="fa fa-file-o font-size-25 m-r-15"></i>
                                        <div class="small">
                                            <div>example file 1.txt</div>
                                            <div>5 KB</div>
                                        </div>
                                    </a>
                                </div>
                                <small class="message-item-date text-muted">22.30</small>
                            </div>
                            <div class="message-item">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, quasi!
                            </div>
                            <div class="message-item">
                                Lorem ipsum.
                            </div>
                            <div class="message-item message-item-date-border">
                                <span class="badge">Today</span>
                            </div>
                            <div class="message-item">
                                Lorem ipsum dolor sit amet, consectetur adipisicing.
                            </div>
                            <div class="message-item outgoing-message">
                                Lorem ipsum dolor sit.
                                <small class="message-item-date text-muted">22.30</small>
                            </div>
                            <div class="message-item">
                                &bull; &bull; &bull;
                            </div>
                        </div>
                    </div>
                    <div class="chat-body-footer">
                        <form class="d-flex align-items-center">
                            <input type="text" class="form-control" placeholder="Message...">
                            <div class="d-flex">
                                <button type="button" class="ml-3 btn btn-primary btn-floating">
                                    <i class="fa fa-send"></i>
                                </button>
                                <div class="dropup">
                                    <button type="button" data-toggle="dropdown" class="ml-3 btn btn-success btn-floating">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="dropdown-menu-body">
                                            <ul>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="icon fa fa-picture-o"></i> Image
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="icon fa fa-video-camera"></i> Video
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>



{% endblock content %}