{% extends 'based/based.html' %}

{% block content %}
{% load static %}

<main class="main-content">

    <div class="container">

        <!-- begin::page header -->
        <div class="page-header d-md-flex justify-content-between align-items-center">
            <div>
                <h4>Add Camera</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sales</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end::page header -->
        <div class="row">
            <div class="col-md-12"> 
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Camera</h5>
                    <form action='{% url 'camera-add' %}' method='POST'>
                     {% csrf_token %}
                     {{form.as_p}}
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                        
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>

</main>
{% endblock content %}


