{% extends 'based/based.html' %}

{% block content %}
{% load static %}


<main class="main-content">

    <div class="container-fluid">

        <!-- begin::page header -->
        <div class="page-header d-md-flex justify-content-between align-items-center">
            <h4>{{title}}</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-t-0">
                    <li class="breadcrumb-item"><a href="#">by group</a></li>
                </ol>
            </nav>
        </div>
        <!-- end::page header -->

     
           <div class="row">
              {% for cctv in cameraset %}
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <iframe class="responsive-iframe" width="300" height="240" src="//192.168.0.164:5080/WebRTCApp/play.html?name={{cctv.camera_name}}" frameborder="0" allowfullscreen autoplay="1"></iframe>

      </div>
    </div>
  </div>
   {% endfor %}
</div>
     

   

    </div>

</main>
{% endblock content %}