{% extends 'based/based.html' %}

{% block content %}
{% load static %}

<!-- begin::main content -->
<main class="main-content">

    <div class="container-fluid">

        <!-- begin::page header -->
        <div class="page-header d-md-flex justify-content-between align-items-center">
            <div>
                <h4>Welcome </h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">--</li>
                    </ol>
                </nav>
            </div>
            <div>
                <div class="reportrange btn btn-light">
                    <i class="ti-calendar m-r-10"></i>
                    <span></span>
                    <i class="ti-angle-down m-l-10"></i>
                </div>
            </div>
        </div>
        <!-- end::page header -->

        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6>--</h6>
                                <h4 class="m-b-0 font-weight-bold">
                                    --
                                    <small data-toggle="tooltip" title="Than last week"
                                           class="text-success font-size-11">
                                       --
                                        <i class="ti-arrow-up"></i>
                                    </small>
                                </h4>
                            </div>
                            <div>
                                <span class="pie"
                                      data-peity='{ "fill": ["#5d78ff", "#eeeeee"], "radius": 30 }'>1/5</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6>--</h6>
                                <h4 class="m-b-0 font-weight-bold">
                                    --
                                    <small data-toggle="tooltip" title="Than last week"
                                           class="text-danger font-size-11">
                                        --
                                        <i class="ti-arrow-down"></i>
                                    </small>
                                </h4>
                            </div>
                            <div>
                                <span class="pie"
                                      data-peity='{ "fill": ["#0abb87", "#eeeeee"], "radius": 30 }'>226/360</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6>Avg. Order Value</h6>
                                <h4 class="m-b-0 font-weight-bold">
                                    --
                                    <small data-toggle="tooltip" title="Than last week"
                                           class="text-danger font-size-11">
                                        --
                                        <i class="ti-arrow-down"></i>
                                    </small>
                                </h4>
                            </div>
                            <div>
                                <span class="pie"
                                      data-peity='{ "fill": ["#ea4141", "#eeeeee"], "radius": 30 }'>1,4</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6>--</h6>
                                <h4 class="m-b-0 font-weight-bold">
                                    --
                                    <small data-toggle="tooltip" title="Than last week"
                                           class="text-success font-size-11">
                                        --
                                        <i class="ti-arrow-up"></i>
                                    </small>
                                </h4>
                            </div>
                            <div>
                                <span class="pie" data-peity='{ "fill": ["#3a3f51", "#eeeeee"], "radius": 30 }'>0.52,1.041</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock content %}
