{% extends 'based/based.html' %}

{% block content %}
{% load static %}

<main class="main-content">

    <div class="container">

        <!-- begin::page header -->
        <div class="page-header d-md-flex justify-content-between align-items-center">
            <div>
                <h4>Add Project</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sales</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end::page header -->
        <div class="row">
            <div class="col-md-7">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Project</h5>
                    <form action='.' method='POST'>
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                
                                <label>Project name</label>
                                {{form.p_name}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Company</label>
                                 {{form.p_company}}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Work Code</label>
                                 {{form.p_code}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Model</label>
                                 {{form.p_model}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Start Date</label>
                                 {{form.p_startdate}}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>End Date</label>
                                 {{form.p_enddate}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Status</label>
                                 {{form.p_status}}
  
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <button type="submit" name="submit" class="btn btn-outline-success">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>

</main>
{% endblock content %}


