.timeline {
   .timeline-item {
      padding-bottom: 30px;
      position: relative;
      display: flex;
      & > div:last-child {
         flex: 1;
      }
      &::before {
         content: "";
         display: block;
         position: absolute;
         width: 1px;
         bottom: -20px;
         top: 0px;
         left: 18px;
         background: white - 100;
      }
      &:last-child {
         &::before {
            display: none;
         }
         padding-bottom: 0;
         bottom: 0;
      }
   }
}