
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TT Vision - Admin Dashboard</title>

    {% load static %}
      <!-- begin::dataTable -->
    <link rel="stylesheet" href="{% static 'Gramos/demos/assets/vendors/dataTable/responsive.bootstrap.min.css' %}" type="text/css">
    <!-- end::dataTable -->

    <!-- begin::datepicker -->
    <link rel="stylesheet" href="{% static 'Gramos/demos/assets/vendors/datepicker/daterangepicker.css' %}">
    <!-- end::datepicker -->


    <link rel="stylesheet" href="{% static 'Gramos/demos/assets/vendors/bundle.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Gramos/demos/assets/vendors/datepicker/daterangepicker.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Gramos/demos/assets/vendors/vmap/jqvmap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Gramos/demos/assets/css/app.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Gramos/demos/assets/css/custom.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'Gramos/css/zoomwizard.css' %} " type="text/css">

    
</head>