<!-- begin::side menu -->
<div class="side-menu">
    <div class='side-menu-body'>
        <ul>
            <li class="side-menu-divider">Navigation</li>
            <li><a href="/"><i class="icon ti-paint-bucket"></i> <span>Dashboard</span> </a></li>
            <li><a href="#"><i class="icon ti-rocket"></i> <span>Project</span> </a>
                <ul>
                    <li><a href="{% url 'add-project' %}">Add Project</a></li>
                    <li><a href="{% url 'project-list'%}">Project List</a> </li>

                </ul>
            </li>
            <li><a href="#"><i class="icon ti-rocket"></i> <span>CCTV</span> </a>
                <ul>
                    <li><a href="{% url 'cctv' %}">CCTV Dashboard</a></li>
                    <li><a href="{% url 'camera_list' %}">Camera List</a> </li>
                    <li><a href="{% url 'camera-add' %}">Add Camera</a><li>
                </ul>
            </li>
            <li><a href="#"><i class="icon ti-paint-bucket"></i> <span>Cell</span> </a>
                <ul>
                    <li><a href="{% url 'cell-group' %}">Cell Dashboard</a></li>
                    <li><a href="{% url 'cell-manage' %}">Manage cell</a><li>
                    <li><a href="{% url 'add-cell' %}">Add Cell</a><li>
                    
                </ul>
            </li>
            <li><a href="{% url 'inventory' %}"><i class="icon ti-face-smile"></i> <span>Inventory</span> </a></li>
            <li><a href="#"><i class="icon ti-face-smile"></i> <span>User</span> </a>
                <ul>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="recover-password.html">User List</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="icon ti-files"></i> <span>Profile</span> </a>
                <ul>
                    <li><a href="profile.html">Profile </a></li>
                    <li><a href="timeline.html">Timeline </a></li>     
                </ul>
            </li>
            <li><a href="#"><i class="icon ti-menu"></i> <span>Setting</span></a></li>
        </ul>
    </div>
</div>
<!-- end::side menu -->