{% load static %}
<script src="{% static 'Gramos/demos/assets/vendors/bundle.js' %}"></script>

<script src="{% static 'Gramos/demos/assets/vendors/charts/chartjs/chart.min.js' %}"></script>
<script src="{% static 'Gramos/demos/assets/vendors/charts/peity/jquery.peity.min.js' %}"></script>
<script src="{% static 'Gramos/demos/assets/js/examples/charts/chartjs.js' %}"></script>
<script src="{% static 'Gramos/demos/assets/js/examples/charts/peity.js' %}"></script>

<script src="{% static 'Gramos/demos/assets/vendors/datepicker/daterangepicker.js' %}"></script>

<script src="{% static 'Gramos/demos/assets/js/examples/dashboard.js' %}"></script>

<script src="{% static 'Gramos/demos/assets/vendors/vmap/jquery.vmap.min.js' %}"></script>
<script src="{% static 'Gramos/demos/assets/vendors/vmap/maps/jquery.vmap.usa.js' %}"></script>
<script src="{% static 'Gramos/demos/assets/js/examples/vmap.js' %}"></script>


<script src="{% static 'Gramos/demos/assets/js/app.min.js' %}"></script>

<!-- begin::dataTable -->
<script src="{% static 'Gramos/demos/assets/vendors/dataTable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'Gramos/demos/assets/vendors/dataTable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'Gramos/demos/assets/vendors/dataTable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'Gramos/demos/assets/js/examples/datatable.js' %}"></script>
<!-- end::dataTable -->