nav.navbar {

      height: $header-height;
   justify-content: inherit;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 999;
   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .15);
   padding: 0 18px;

   .header-logo {
      width: $side-menu-width;
      a {
         display: flex;
         align-items: center;
         img {
            width: 35px;
            margin-right: 15px;
         }
         .logo-text {
            color: rgba(white,.8);
            font-size: 20px;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 1px;
         }
      }
   }

   .header-body {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;

      form.search {
         flex: 1;

         input.form-control {
            border: none;
            background-color: rgba(255, 255, 255, .2);
            transition: background-color .2s;

            &:focus {
               background-color: rgba(255, 255, 255, .9);
               color: black;

               &::-webkit-input-placeholder {
                  color: black + 50;
               }
            }

            &::-webkit-input-placeholder {
               color: white;
            }
         }

         .input-group-append, .input-group-prepend {
            margin: 0;
         }

         button.btn {
            background-color: rgba(255, 255, 255, .30);
            border-color: transparent;
            color: white;
         }

         & + ul.navbar-nav {
            margin-left: 1.5rem;
         }
      }

      ul.navbar-nav {
         flex-direction: row;

         li.nav-item {
            margin-left: 4px;

            a.nav-link {
               line-height: 100%;
               padding: 8px 12px;
               border-radius: 5px;
               color: white;
               font-size: $default-font-size + 4;

               &.nav-link-notify {
                  position: relative;

                  &:before {
                     content: '';
                     position: absolute;
                     width: 6px;
                     height: 6px;
                     left: 50%;
                     margin-left: -2px;
                     border-radius: 50%;
                     top: -2px;
                     background: $color-danger;
                  }
               }

               &:hover, &:focus {
                  outline: none;
                  background-color: rgba(255, 255, 255, .2);
               }
            }
         }

         & + form.search {
            margin-left: 1.5rem;
         }
      }
   }

   .dropdown-menu {
      &.dropdown-menu-big {
         width: 300px;
      }
      margin-top: 20px;
      position: absolute;
      float: none;
   }
}

body.horizontal-side-menu {
   nav.navbar {
      box-shadow: none
   }
}

